<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prescriptions Dashboard</title>
    <link rel="stylesheet" href="/css/records.css" />
  </head>
  <body>
    <header>
      <h1>Prescriptions Dashboard</h1>
      <button class="add-record-btn" onclick="openForm()">
        Add New Prescription
      </button>
    </header>

    <section class="record-table">
      <h2 class="heading">Prescriptions</h2>
      <% if (prescriptions.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Prescription ID</th>
            <th>Drug Name</th>
            <th>Dosage</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <% prescriptions.forEach(prescription => { %>
          <tr>
            <td><%= prescription.pharma_id %></td>
            <td><%= prescription.drug_name %></td>
            <td><%= prescription.dosage %></td>
            <td><%= prescription.duration %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p style="text-align: center; font-size: 1.6rem">
        No prescriptions found.
      </p>
      <% } %>
    </section>

    <div id="popup-form" class="popup-overlay">
      <div class="popup-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <h2>Add New Prescription</h2>
        <form action="/add-prescription/<%= patient_id %>" method="POST">
          <label for="drug_name">Drug Name:</label>
          <input type="text" id="drug_name" name="drug_name" required />

          <label for="dosage">Dosage:</label>
          <input type="text" id="dosage" name="dosage" required />

          <label for="duration">Duration:</label>
          <input type="text" id="duration" name="duration" required />

          <button type="submit">Save Prescription</button>
        </form>
      </div>
    </div>

    <script src="/js/records.js"></script>
  </body>
</html>
